@font-face {
  font-family: 'Cascadia Code';
  font-style: normal;
  font-weight: normal;
  src: local('Cascadia Code Regular'), url('./assets/fonts/Cascadia.woff') format('woff');
}

body {
  margin: 0;
  font-family: "Cascadia Code", sans-serif
}

code {
  font-family: 'Courier New', monospace;
}
